<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Error</title>
</head>
<body>
  <div class="container">
    <div class="error-message">
      <h1>Error Will Robinson!</h1>
      <code>No Data Found</code>
      <p>Please Try Again</p>
      <a href="/">&rarr; Try Again &larr;</a>
    </div>
  </div>
</body>
</html>