<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="main-wrapper">
      <div class="main-header">
        <!-- <div class="intro">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus officiis a labore deserunt, porro rem consequuntur tenetur non minima quam nemo possimus aut sit at.</p>
        </div> -->
      </div>
      <section id="search-box">
        <div class="container">
          <div class="search-group">
            <input type="text" placeholder="Artist" id="artist-search" aria-label="artist-search">
            <input type="submit" name="search" id="searchBtn" value="Search">
          </div>
        </div>
      </section>

    </div>
  </main>
</body>
</html>