<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="main-wrapper">
      <div class="main-header">
        
      </div>
      <section id="search-box">
        <div class="container">
          <div class="search-group">
            <img src="/image/what-is.png" alt="">
            <input type="text" placeholder="Actor Name" id="artist-search" aria-label="artist-search">
            <img src="/image/from.png" alt="">
            <input type="submit" name="search" id="searchBtn" value="Search">
            <img src="/image/look.png" alt="">
          </div>
        </div>
      </section>
      <div id="loader-wrapper">
        <div class="loader">
          <div class="sub-loader"></div>
        </div>
        <span class="loading-text">Loading...</span>
      </div>
    </div>
  </main>
</body>
</html>