<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>
<body>
  <section id="search-box">
    <div class="container">
      <h1>What From?</h1>
      <div class="search-group">
        <input type="text" placeholder="Artist" id="artist-search" aria-label="artist-search">
        <input type="submit" name="search" id="searchBtn" value="Search">
      </div>
    </div>
  </section>
</body>
</html>